@import "tailwindcss";

:root {
  --card-size-scale: 1;
  --card-base: 18vw;
  --card-w: calc(var(--card-base) * var(--card-size-scale));
  --card-h: calc(var(--card-w) * 1.4);
  --card-radius: 6px;
  --art-crop-base: 14vw;
  --art-crop-w: calc(var(--art-crop-base) * var(--card-size-scale));
  --art-crop-h: calc(var(--art-crop-w) * 0.75);
}

@media (min-width: 768px) {
  :root {
    --card-base: 12vw;
    --art-crop-base: 9vw;
  }
}

@media (min-width: 1200px) {
  :root {
    --card-base: 7vw;
    --card-radius: 8px;
    --art-crop-base: 5.5vw;
  }
}
